.container1 {
  border-right: 2px solid;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  align-items: center;
  background-color: navajowhite;
}

.link1 {
  margin-top: 25px;
  padding: 5px;
}

.link2 {
  margin-top: 10px;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: row;
}

.heading {
  height: 100px;
  border: 2px solid black;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  background-image: url("./banner-g20021b00d_1280.jpg");
}

.section {
  height: 100vh;
  border-right: 2px solid black;
  width: 100%;
}

.table {
  width: 100vw;
  text-align: center;
}

.personLinks {
  text-decoration: underline;
  background-color: #899999;
  border: solid black 4px;
}
.personLinks:hover {
  background-color: aqua;
}

.table td {
  /* border-right: 4px black solid; */
  border-bottom: solid black 1px;
  padding: 10px;
  box-shadow: 3px 3px 3px #888888;
}

tr th {
  border: solid black 4px;
  padding: 10px;
  background-color: #899999;
}

.heading {
  text-align: center;
}

Link:hover {
  background-color: aqua;
}

.heading {
  font-size: 13px;
}

.header {
  font-size: 25px;
}
